@model AlisverisListesi.Models.ShoppingList

<h2>Alışveriş Listesinin Adını Düzenle</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="ListId" />
    <div class="form-group">
        <label asp-for="Name">Liste Adı:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

<a asp-action="Index">Alışveriş Listelerime Geri Dön</a>
